@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "lufga" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #FFFAF3;
  }

  
  
  ::selection {
    color: #fff;
    background: #e11d48;
  }

  ::-webkit-scrollbar {
    width: 0.6rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #2563eb;
  }