@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-1 {
    -webkit-text-stroke: 1px black;
  }
}

@layer utilities {
  .mask {
    mask-image: url('/images/svg/bg-media.svg');
    mask-size: auto 100%;
    mask-repeat: no-repeat;
    object-fit: cover;
    mask-position: right;
  }
}

body {
    margin: 0;
    font-family: "lufga" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #fff;
  }

  
  
  ::selection {
    color: #fff;
    background: rgb(147 51 234);
  }

  ::-webkit-scrollbar {
    width: 0.6rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(147 51 234);
  }